<h1>Password oblidat</h1>

Omple el formulari de sota i se t'enviarà el teu nou password<br />
<br />

<%= form_tag password_resets_path do %>
  <label>Email:</label><br />
  <%= text_field_tag "email" %><br />
  <br />
  <%= submit_tag "Reseteja la meva password" %>
<% end %>
