.bundle
.DS_Store
db/*.sqlite*
*~
doc/*
tmp/**/*
log/*.log
.project
.settings/*
public/system/*
public/stylesheets/cache/*
public/javascripts/cache/*
config/database.yml
config/app.yml
config/deploy.yml
config/cyberpac.yml
vendor/cache
bin/*.pid
*.swp
.autotest
public/uploads/*
